<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to the text analyzer. Enter ur text Below</h1>
  <form action="/remove" method="get">
    <textarea name="text" style='width: 1338px; height: 77px;'></textarea>
    <input type="checkbox" name="removePunc">Coinfirm to remove punctuation <br>
    <input type="checkbox" name="capitalize">Coinfirm to full capitalize <br>
    <input type="checkbox" name="LineRemover">Coinfirm to remove new line <br>
    <input type="checkbox" name="extraSpaceRemover">Coinfirm to remove extra space <br>
    <input type="checkbox" name="charcount">Coinfirm to count the no. of characters <br>
    <button type="submit">Analyze Text</button>
  </form>
</body>
</html>